# flyctl launch added from .gitignore
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
#.pnp.*

**/node_modules
**/dist

# flyctl launch added from .yarn/cache/.gitignore
.yarn/cache/.gitignore
.yarn/cache/**/*.flock
.yarn/cache/**/*.tmp

# flyctl launch added from node_modules/minipass-sized/.gitignore
# ignore most things, include some others
node_modules/minipass-sized/*
node_modules/minipass-sized/.*

!node_modules/minipass-sized/**/bin
!node_modules/minipass-sized/**/lib
!node_modules/minipass-sized/**/docs
!node_modules/minipass-sized/**/package.json
!node_modules/minipass-sized/**/package-lock.json
!node_modules/minipass-sized/**/README.md
!node_modules/minipass-sized/**/CONTRIBUTING.md
!node_modules/minipass-sized/**/LICENSE
!node_modules/minipass-sized/**/CHANGELOG.md
!node_modules/minipass-sized/**/example
!node_modules/minipass-sized/**/scripts
!node_modules/minipass-sized/**/tap-snapshots
!node_modules/minipass-sized/**/test
!node_modules/minipass-sized/**/.travis.yml
!node_modules/minipass-sized/**/.gitignore
!node_modules/minipass-sized/**/.gitattributes
!node_modules/minipass-sized/**/coverage-map.js
!node_modules/minipass-sized/**/index.js
fly.toml
